* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.form{
  /* align-items: center; */
  /* display: flex; */
  padding-left: 12px;
  padding-top: 4px;
  justify-content: center;
}




.btn{
  border-radius: 12px;
  background-color: aqua;
}